{{ $currentVersion := getenv "CURRENT_VERSION" }}
{{ $versionString := getenv "VERSIONS" }}
{{ $versions := split $versionString "," }}
{{ $latestVersion := index $versions 0 }}

{{ partial "header.html" . }}

<main class="content-wrapper">
  <div class="content">

{{ if eq .Site.Params.site "dgraph-docs" }}
  {{ if (eq $currentVersion "master") }}
    <div class="alert alert-warning">
      <i class="fa fa-warning"></i> You are looking at the docs for the unreleased <code>master</code> branch of Dgraph. The latest version is <a href="{{ .Site.BaseURL }}/..">{{ $latestVersion }}</a>.
    </div>
  {{ else if not (eq $latestVersion $currentVersion) }}
    <div class="alert alert-warning">
      <i class="fa fa-warning"></i> You are looking at the docs for an older version of Dgraph ({{ $currentVersion }}). The latest version is <a href="{{ .Site.BaseURL }}/..">{{ $latestVersion }}</a>.
    </div>
   {{ end }}
{{ end }}

<div class="top-toc">
  {{ .TableOfContents }}
</div>

<article id="{{ .Slug }}">
  {{ partial "ask-question.html" . }}

  <h1 class="post-title">{{ .Title }}</h1>

  <div>{{ .Content }}</div>

  {{ if eq .Site.Params.site "dgraph-docs" }}
	{{ partial "navigation.html" . }}
  {{ end }}
  {{ partial "post_comments.html" . }}
</article>

{{ if not .Sections }}
  <div class="right-toc">
    {{ .TableOfContents }}
  </div>
{{ end }}

  </div>
</main>

{{ partial "footer.html" . }}
