@charset "UTF-8";
html body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  background-color: #fff;
  color: #4a4a4a;
  margin: 0;
}
a {
  color: #00bdf3;
}
a:hover {
  color: #0082a7;
}
b,
strong,
label,
th {
  font-weight: 600;
}

hr {
  border-bottom: 4px solid #f0f2f4;
}

table {
  border: 1px solid #eaeaea;
  table-layout: auto;
}
th {
  background: #f7f7f7;
  padding: 0.5rem;
}
td {
  padding: 0.5rem;
  border: 1px solid #eaeaea;
}

.notices {
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px 19px;
}

.notices .type {
  font-weight: 600;
  margin-right: 8px;
  font-size: 105%;
}

.notices p {
  margin: 0;
  display: inline-block;
}

.notices.incomplete {
  border-color: #f3d98c;
  background-color: #f7f7f1;
  border: 1px solid #e2e2e2;
}

.notices.note {
  border-color: #f3d98c;
  background-color: #fffad5;
  border: 1px solid #e2e2e2;
}

.notices.tip {
  border-color: #87cb74;
  background-color: #e3f9e3;
  border: 1px solid #e2e2e2;
}

.notices.warning {
  border-color: #c16560;
  background-color: #ffefe3;
  border: 1px solid #e2e2e2;
}

.notices.outdated {
  border-color: #c16560;
  background-color: #ffefe3;
  border: 1px solid #e2e2e2;
}

/* headers */
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #232323;
  line-height: 1.1;
  margin: 1.6em 0 0.8em;
}
html h1 {
  font-size: 2.1em;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 0.6em;
}
html h2 {
  font-size: 1.9em;
}
html h3 {
  font-size: 1.5em;
}
html h4 {
  font-size: 1.25em;
}
html p {
  margin: 0 0 0.8em;
}

.alert-warning {
  width: 100%;
}

.content-wrapper {
  padding-top: 64px;
  position: relative;
  background: white;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}
.content-wrapper h1 {
  margin-top: 0;
}
.content-wrapper .content {
  padding: 21px 43px 67px;
  display: block;
}
@media screen and (min-width: 992px) {
  .content-wrapper .content {
    display: flex;
    flex-wrap: wrap;
  }
}

div.navigation-buttons {
  border: 1px solid #d6d6d6;
  margin-top: 20px;
  margin-bottom: 58px;
}

div.top-toc {
  display: block;
  max-width: 500px;
  padding-left: 0;
  margin: 12px 0 24px;
}

div.top-toc #TableOfContents {
  width: 100%;
  padding: 0 0 0 10px;
  border-left: 5px solid #f3f3f3;
}

@media screen and (min-width: 1072px) {
  div.top-toc {
    display: none;
  }
}

div.right-toc {
  display: none;
}

div.right-toc #TableOfContents ul,
div.top-toc #TableOfContents ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.right-toc #TableOfContents ul li ul,
div.top-toc #TableOfContents ul li ul {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
}

div.right-toc #TableOfContents > ul:before,
div.top-toc #TableOfContents > ul:before {
  content: 'Contents';
  font-weight: 600;
  font-size: 16px;
  color: black;
  display: block;
  padding-bottom: 8px;
}

@media screen and (min-width: 1072px) {
  div.right-toc {
    display: block;
    max-height: 85vh;
    padding-right: 15px;
    background: #ffffff;
    overflow-y: auto;
    margin-bottom: 1.5rem;
  }

  div.right-toc #TableOfContents {
    position: fixed;
    max-height: 85vh;
    overflow-y: auto;
  }
}
article {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 1072px) {
  article {
    padding-top: 0;
    min-height: 625px;
    margin-right: 45px;
    max-width: 75%;
  }
}

@media screen and (max-width: 480px) {
  .content-wrapper .content {
    padding: 23px 22px;
  }
}

.content img {
  max-width: 100%;
}

body.sidebar-visible {
  overflow-x: hidden;
}
body.sidebar-visible .content-wrapper {
  transform: translateX(280px);
  border-left: 1px solid #f1f1f1;
}

html pre {
  position: relative;
  padding: 10px 19px;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  margin: 10px 0;
  background: #f9f9f9;
  border: 0;
  border-radius: 2px;
  line-height: 1.45;
  border: 1px solid #ececec;
}
html pre code {
  /*color: #237794;*/
  background: inherit;
  white-space: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  font-size: 90%;
}
pre.collapsed {
  max-height: 330px;
  overflow: hidden;
}
pre.collapsed .showmore {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 26px;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.1),
    rgba(226, 226, 226, 0.72)
  );
  color: #5a5a5a;
}
pre.collapsed .showmore:hover {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.1),
    rgba(226, 226, 226, 0.91)
  );
  font-weight: 600;
}
/* pre.collapsed .showmore span {
  background: white;
  border: 1px solid #ececec;
  padding: 6px 11px 3px;
  text-transform: uppercase;
  font-size: 11px;
} */
/* unset the default hljs default style*/
.hljs {
  display: block;
  overflow-x: inherit;
  padding: 0;
  background: inherit;
}
.copy-btn {
  position: absolute;
  right: 0;
  top: 0;
  color: #5a5a5a;
  background: white;
  padding: 6px 11px 3px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}
.copy-btn:not(.copied):hover {
  background-color: #fdfdfd;
}
.copy-btn.copied {
  cursor: default;
}

#header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid #eee;
  padding: 0 31px;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  background: #ffffff;
  opacity: 0.99;
  box-shadow: #a7a4a4 0px 0px 10px;
}

#header .header-left {
  flex-grow: 1;
}

#header .header-left > div {
  display: flex;
  margin-bottom: 10px;
}

#header .header-right {
  margin-top: 5px;
}

#header .logo {
  width: 118px;
}

#header .menu-search .algolia-autocomplete {
  width: 100%;
}

#header ul.menu {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

#header .header-right ul.menu {
  margin-top: 17px
}

#header ul.menu li {
  list-style: none;
  padding-bottom: 5px;
}

#header ul.menu li:not(:last-child) {
  margin-right: 20px;
}

#header ul.menu li.active:after {
  display: block;
  content: "";
  position: relative;
  top: 6px;
  width: calc(100% + 10px);
  left: -5px;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(90deg, #FF4200 .01%, #E50695 99.99%);
}


#header ul.menu li a {
  color: #5f5f5f;
  text-decoration: none;
  font-size: 14px;
}

#header ul.menu li.active a {
  background: linear-gradient(90deg, #FF4200 .01%, #E50695 99.99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header ul.menu li a:hover {
  background: linear-gradient(90deg, #FF4200 .01%, #E50695 99.99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header .menu-container ul li a:hover {
  text-decoration: none;
  background: #f7f7f7;
  color: #464646;
}
#header .menu-container ul li a:focus {
  text-decoration: none;
}
#header .brand {
  margin-top: 14px;
}

#header .logo-tagline {
  position: relative;
  padding-left: 10px;
  left: 10px;
  border-left: #222222 1px solid;
  top: 20px;
  height: 25px;
  font-weight: 700;
  color: #222222;
}

#sidebar-toggle {
  color: #3e3e3e;
  font-size: 21px;
  float: right;
  padding: 10px 16px 15px 15px;
}

#sidebar {
  background-color: #fdfdfd;
  padding-bottom: 3rem;
  position: fixed;
  width: 280px;
  bottom: 0;
  left: 0;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 15px;
  top: 64px;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}
#sidebar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.06);
}
#sidebar::-webkit-scrollbar {
  width: 6px;
}
#sidebar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

#sidebar a {
  text-decoration: none;
}

#sidebar .sidebar-menu {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 71px 30px 23px;
  display: flex;
  justify-content: space-between;
}
#sidebar .sidebar-menu li {
  display: inline-block;
}
#sidebar .sidebar-menu a {
  display: block;
  color: #a7a4a4;
  font-size: 12px;
}
#sidebar .sidebar-menu a:hover {
  color: #464646;
}

.topics {
  list-style: none;
  padding-left: 19px;
  margin-bottom: 0;
}
.topics .main-topic {
  padding-bottom: 8px;
  /* padding-left: 14px; */
  /* margin-top: 6px; */
}
.topics .main-topic > a {
  font-weight: 600;
  font-size: 16px;
  color: black;
  /* display: block; */
  padding-bottom: 8px;
}
.topics .main-topic.active > a,
.topics .main-topic > a:hover {
  font-weight: 600;
  color: #fb5812;
}

.topics .main-topic > .arrow-down,
.topics .sub-topic > .arrow-down {
  display: inline-block;
  border: solid #152849;
  border-width: 0 2px 2px 0;
  padding: 2px;
  margin-left: 4px;
  margin-bottom: 2px;
  transition: transform 0.2s ease, margin-bottom 0.2s ease;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  cursor: pointer;
}

.topics .main-topic.active > .arrow-down,
.topics .sub-topic.active > .arrow-down {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-bottom: 0px;
}

.topic {
  position: relative;
  transition: all 250ms ease-out;
}

/* .topic .fa {
  visibility: hidden;
  position: absolute;
  left: -11px;
  top: 9.5px;
  font-size: 12px;
  transition: all 250ms ease-out;
}

.topic:hover > .fa {
  visibility: visible;
  color: #fb5812;
}
.topic.active > .fa {
  visibility: visible;
  color: #fb5812;
} */

.sub-topics {
  display: none;
  list-style: none;
  padding-left: 14px;
  font-weight: 400;
}

/* Children menus are always open */
.sub-topics.active > .sub-topics {
  display: block;
}

.topic.active > .sub-topics {
  display: block;
}

.sub-topics li {
  color: #707070;
}
.sub-topics li.active,
.sub-topics li:hover {
  /*color: #ff6929;*/
  color: #fb5812;
}
ul.sub-topics li a,
#TableOfContents ul li a {
  color: inherit;
  display: inline-block;
  font-size: 0.95em;
  padding: 5px 0px;
}
.menu-header {
  padding: 20px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-header .heading {
  display: inline-block;
  font-weight: 600;
}

h2,
h3 {
  position: relative;
}
h1:hover .anchor i,
h2:hover .anchor i,
h3:hover .anchor i {
  visibility: visible;
}
.anchor {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: -24px;
  width: auto;
  height: auto;
  padding-right: 13px;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 24px;
  color: #868686;
}
.anchor i {
  visibility: hidden;
  vertical-align: middle;
  /*vertical-align: -webkit-baseline-middle;*/
}
.anchor:hover {
  color: #717171;
}
.anchor-offset {
  display: block;
  position: relative;
  top: -83px;
  visibility: hidden;
}
.nav-prev-btn {
  float: left;
  text-decoration: none;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  padding: 2px 9px;
  color: #5d5d5d;
  font-size: 12px;
  margin: 8px 4px;
}
.nav-next-btn,
.question-btn {
  border: 1px solid #d6d6d6;
  border-radius: 2px;
}
.nav-next-btn,
.question-btn,
.edit-btn {
  float: right;
  text-decoration: none;
  padding: 2px 9px;
  color: #5d5d5d;
  font-size: 12px;
  margin: 8px 4px;
}
footer .question-btn,
footer .edit-btn {
  float: left;
}
.nav-prev-btn:hover,
.nav-next-btn:hover,
.question-btn:hover,
.edit-btn:hover {
  color: #333333;
  box-shadow: 0px 0px 0.5px 0px #888888;
}
.nav-prev-btn .fa,
.nav-next-btn .fa,
.question-btn .fa,
.edit-btn .fa {
  margin-right: 3px;
}
.clearfix {
	clear: both;
}
footer {
	font-size: 1.2195em;
	margin-top: 0.5em;
}
footer .logo {
	float: right;
	max-height: 30px;
}
/* min-width: 800px */
/* toggle sidebar visibility */
@media screen and (min-width: 800px) {
  .content-wrapper {
    margin-left: 280px;
    border-left: 1px solid #f1f1f1;
  }
  #sidebar-toggle {
    display: none;
  }
  #sidebar {
    top: 94px;
  }
  #sidebar .sidebar-menu {
    display: none;
  }
  .content-wrapper {
    padding-top: 94px;
  }
}
@media screen and (max-width: 999px) {
  /* #header .menu-search {
    width: 192px;
  } */
}
@media screen and (max-width: 799px) {
  #header ul.menu,
  #header .logo-tagline {
    display: none;
  }
  /* #header .menu-search {
    width: 180px;
  } */
  /* #header .menu-search .algolia-autocomplete .ds-dropdown-menu {
    min-width: 390px;
  } */
  /* #header .menu-container {
    display: none;
  } */
  .question-btn,
  .edit-btn {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  /* #header {
    padding: 0 13px 0 31px;
  } */
  /* #header .menu-search {
    width: 150px;
  } */
  /* #header .menu-search .algolia-autocomplete .ds-dropdown-menu {
    min-width: 310px;
  } */
}
@media screen and (max-width: 425px) {
  /* #header {
    padding: 0 13px 0 31px;
  } */
}
@media screen and (max-width: 400px) {
  /* #header .menu-search {
    width: 120px;
  } */
  /* #header .menu-search .algolia-autocomplete .ds-dropdown-menu {
    min-width: 290px;
  } */
}
@media screen and (max-width: 375px) {
  /* #header .outer-menu-container {
    padding-left: 8px;
  } */
  /* #header .menu-search {
    width: 112px;
  } */
  /* #header .menu-search .algolia-autocomplete .ds-dropdown-menu {
    min-width: 250px;
  } */
  /* #header #sidebar-toggle {
    padding-left: 8px;
  } */
}
@media screen and (max-width: 340px) {
  /* #header .outer-menu-container {
    padding-left: 5px;
  } */
  /* #header .menu-search {
    width: 100px;
  } */
  /* #header .menu-search .algolia-autocomplete .ds-dropdown-menu {
    min-width: 225px;
  } */
  /* #header #sidebar-toggle {
    padding-left: 5px;
  } */
}

.page-not-found {
  margin: auto;
  width: 50%;
  margin-top: 15%;
}

/* table of contents in home page */

section.toc .section-name {
  font-size: 16px;
  font-weight: 600;
}
section.toc .section-desc {
  margin-bottom: 0;
}
section.toc .section-item {
  margin-bottom: 8px;
}

/* custom bootstrap */
.row-no-padding [class^='col-'] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* MC modal */
.mc-modal {
  width: 360px !important;
  bottom: 0 !important;
  right: 15px !important;
}

.modalContent {
  width: 360px !important;
}

.mc-banner {
  top: auto !important;
  bottom: 0 !important;
}

@media only screen and (max-width: 768px) {
  .mc-banner {
    border-top: 1px solid #ccc !important;
  }
}

:root {
  --cols: 1;
  --width: 90vw;
  --gap: 5vw;
}
@media screen and (min-width: 680px) {
  :root {
    --cols: 2;
    --width: 300px;
    --gap: 10px;
  }
}
@media screen and (min-width: 1000px) {
  :root {
    --cols: 3;
    --width: 300px;
    --gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --cols: 3;
    --width: 320px;
    --gap: 30px;
  }
}
.landing {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;

  margin: 0 calc(0px - var(--gap));
  width: calc(var(--cols) * (var(--width) + 2 * var(--gap)));
}
.landing .hero {
  width: calc(var(--cols) * (var(--width) + 2 * var(--gap)));
  padding: 0 var(--gap);
}
.landing .hero p {
  width: 50%;
}
@media screen and (max-width: 1000px) {
  .landing .hero img {
    display: none;
  }
  .landing .hero p {
    width: 100%;
  }
}

.landing .hero img {
  right: var(--gap);
}
.landing .item {
  padding: 72px 32px 32px;
  border-radius: 4px;
  box-shadow: 0 0 6px 1px #ccc;
  display: inline-block;
  margin-bottom: 24px;
  position: relative;

  box-sizing: border-box;
  width: var(--width);
  margin: var(--gap);
}

.landing .item h2 {
  margin: 0 0 8px;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
}
.landing .item h2:hover,
.landing .item .cta:hover {
  text-decoration: underline;
}

.landing .item .icon {
  position: absolute;
  left: 32px;
  top: 32px;
  height: 24px;
  width: 24px;
  font-size: 24px;
  line-height: 24px;
}

.landing .item .icon * {
  fill: #fb5812;
  color: #fb5812;
}

.landing .item p {
  margin: 0 0 16px;
  padding: 0;
  color: #000;
}
.landing .item a:hover {
  text-decoration: none;
}

.landing .item p.cta {
  margin: 0 0 16px;
  padding: 0;
  color: #fb5812;
}

.landing .hero {
  position: relative;
  height: 160px;
  margin-bottom: 32px;
}
.landing .hero h1 {
  padding: 24px 0 8px;
  font-size: 24px;
}
.landing .hero img {
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
  height: 160px;
  top: 0;
  max-width: 45%;
}
