    {{ partial "runnable-modal.html" . }}

    <!-- DocSearch -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript">
      if (window.docsearch) {
        var version = 'latest';
        var path = window.location.pathname;
        var arr = /(?:\/)?((?:master)|(?:v[0-9][^\/]+))(?:\/)?.*$/.exec(path);
        if (arr != null && arr.length > 1) {
          version = arr[1];
        }

        window.docsearch({
          apiKey: 'fe4cbc1640c6c87bbc5f099902d86f97',
          indexName: 'dgraph',
          inputSelector: '#algolia-doc-search',
          algoliaOptions: { 'filters': `version:${version}` },
          debug: false // Set debug to true if you want to inspect the dropdown
        });
      }
    </script>

  <!-- Script that enables the copy button on code blocks -->
  {{ $clipboardJS := resources.Get "js/clipboard.min.js" }}
  <script defer src="{{ $clipboardJS.Permalink }}"></script>
  <!-- Script to make copy buttons, make version selector, and tab functionality. -->
  {{ $dgraphJS := resources.Get "js/dgraph.js" | minify | resources.Fingerprint "md5" }}
  <script defer src="{{ $dgraphJS.Permalink }}"></script>
  <!-- Script that makes the code example runnable as live queries/mutations -->
  {{ $runnableJS := resources.Get "js/runnable.js" | minify | resources.Fingerprint "md5" }}
  <script defer src="{{ $runnableJS.Permalink }}"></script>
  <!-- Script built from https://github.com/dgraph-io/community-js that initializes Google Analytics -->
  <script async src="//unpkg.com/@dgraph-io/community"></script>
  <script defer src='https://cdn.ranksci.com/dgraph-411505.min.js' type='text/javascript'></script>

  </body>
</html>
