<!DOCTYPE html>
<html lang="en" class="js csstransforms3d">
  <head>
    <script>
      // -1 urls seem to have an issue, why?
      var subPaths = {
        "/clients/#implementation": "/clients/overview/#implementation",
        "/clients/#transactions": "/clients/overview/#transactions",
        "/clients/#create-the-client": "/clients/go/#create-the-client",
         "/clients/#alter-the-database": "/clients/go/#alter-the-database",
          "/clients/#create-a-transaction": "/clients/go/#create-a-transaction", 
          "/clients/#read-only-transactions": "/clients/go/#read-only-transactions", 
          "/clients/#run-a-query": "/clients/go/#run-a query", 
          "/clients/#run-a-mutation": "/clients/go/#run-a-mutation", 
          "/clients/#commit-the-transaction": "/clients/go/#commit-the-transaction", 
          "/clients/#complete-example": "/clients/go/#complete-example",
          "/clients/#grpc": "/clients/javascript/#grpc", 
          "/clients/#http": "/clients/javascript#http",
          "/clients/#create-the-client-1": "/clients/raw-http/#create-the-client",
          "/clients/#alter-the-database-1": "/clients/raw-http/#alter-the-database", 
          "/clients/#start-a-transaction": "/clients/raw-http/#start-a-transaction", 
          "/clients/#run-a-query-1": "/clients/raw-http/#run-a-query", 
          "/clients/#run-a-mutation-1": "/clients/raw-http/#run-a-mutation", 
          "/clients/#committing-the-transaction": "/clients/raw-http/#committing-the-transaction", 
          "/clients/#aborting-the-transaction": "/clients/raw-http/#aborting-the-transaction", 
          "/clients/#running-read-only-queries": "/clients/raw-http/#running-read-only-queries", 
          "/clients/#running-best-effort-queries": "/clients/raw-http/#running-best-effort-queries", 
          "/clients/#compression-via-http": "/clients/raw-http/#compression-via-http", 
          "/clients/#run-a-query-in-json-format": "/clients/raw-http/#run-a-query-in-json-format",
          "/deploy/#install-dgraph": "/deploy/download",
          "/deploy/#docker": "/deploy/download/#docker", 
          "/deploy/#automatic-download": "/deploy/download/#automatic-download", 
          "/deploy/#manual-download-[optional]": "/deploy/download/#manual-download-[optional]", 
          "/deploy/#building-from-source": "/deploy/download/#building-from-source",
          "/deploy/#understanding-dgraph-cluster": "/deploy/cluster-setup/#understanding-dgraph-cluster", 
          "/deploy/#sharding": "/deploy/cluster-setup/#sharding", 
          "/deploy/#shard-rebalancing": "/deploy/cluster-setup/#shard-rebalancing", 
          "/deploy/#consistent-replication": "/deploy/cluster-setup/#consistent-replication",
          "/deploy/#types-of-ports": "/deploy/ports-usage/#types-of-ports", 
          "/deploy/#ports-used-by-different-nodes": "/deploy/ports-usage/#ports-used-by-different-nodes", 
          "/deploy/#ha-cluster-setup": "/deploy/ports-usage/#ha-cluster-setup", 
          "/deploy/#dgraph-zero": "/deploy/ports-usage/#dgraph-zero", 
          "/deploy/#dgraph-alpha": "/deploy/ports-usage/#dgraph-alpha",
          "/deploy/#run-directly-on-the-host": "/deploy/single-host-setup/#run-directly-on-the-host", 
          "/deploy/#run-dgraph-zero": "/deploy/single-host-setup/#run-dgraph-zero", 
          "/deploy/#run-dgraph-alpha": "/deploy/single-host-setup/#run-dgraph-alpha", 
          "/deploy/#run-dgraph-ui": "/deploy/single-host-setup/#run-dgraph-ui", 
          "/deploy/#run-using-docker": "/deploy/single-host-setup/#run-using-docker", 
          "/deploy/#create-docker-network": "/deploy/single-host-setup/#create-docker-network", 
          "/deploy/#run-dgraph-zero": "/deploy/single-host-setup/#run-dgraph-zero", 
          "/deploy/#run-dgraph-alpha": "/deploy/single-host-setup/#run-dgraph-alpha", 
          "/deploy/#run-dgraph-ui": "/deploy/single-host-setup/#run-dgraph-ui", 
          "/deploy/#run-using-docker-compose-(on-single-aws-instance)": "/deploy/single-host-setup/#run-using-docker-compose-(on-single-aws-instance)",
          "/deploy/#using-docker-swarm": "/deploy/multi-host-setup/#using-docker-swarm", 
          "/deploy/#cluster-setup-using-docker-swarm": "/deploy/multi-host-setup/#cluster-setup-using-docker-swarm", 
          "/deploy/#ha-cluster-setup-using-docker-swarm": "/deploy/multi-host-setup/#ha-cluster-setup-using-docker-swarm",
          "/deploy/#single-server": "/deploy/kubernetes/#single-server", 
          "/deploy/#deploy-single-server": "/deploy/kubernetes/#deploy-single-server", 
          "/deploy/#verify-single-server": "/deploy/kubernetes/#verify-single-server", 
          "/deploy/#test-single-server-setup": "/deploy/kubernetes/#test-single-server-setup", 
          "/deploy/#remove-single-server-resources": "/deploy/kubernetes/#remove-single-server-resources", 
          "/deploy/#ha-cluster-setup-using-kubernetes": "/deploy/kubernetes/#ha-cluster-setup-using-kubernetes", 
          "/deploy/#validate-kubernetes-cluster-for-ha": "/deploy/kubernetes/#validate-kubernetes-cluster-for-ha", 
          "/deploy/#verify-dgraph-ha-cluster": "/deploy/kubernetes/#verify-dgraph-ha-cluster", 
          "/deploy/#test-dgraph-ha-cluster-setup": "/deploy/kubernetes/#test-dgraph-ha-cluster-setup", 
          "/deploy/#delete-dgraph-ha-cluster-resources": "/deploy/kubernetes/#delete-dgraph-ha-cluster-resources", 
          "/deploy/#using-helm-chart": "/deploy/kubernetes/#using-helm-chart", 
          "/deploy/#installing-the-chart": "/deploy/kubernetes/#installing-the-chart", 
          "/deploy/#upgrading-the-chart": "/deploy/kubernetes/#upgrading-the-chart", 
          "/deploy/#deleting-the-chart": "/deploy/kubernetes/#deleting-the-chart", 
          "/deploy/#configuration": "/deploy/kubernetes/#configuration", 
          "/deploy/#monitoring-in-kubernetes": "/deploy/kubernetes/#monitoring-in-kubernetes", 
          "/deploy/#kubernetes-storage": "/deploy/kubernetes/#kubernetes-storage", 
          "/deploy/#local-storage": "/deploy/kubernetes/#local-storage", 
          "/deploy/#non-local-persistent-disks": "/deploy/kubernetes/#non-local-persistent-disks", 
          "/deploy/#removing-a-dgraph-pod": "/deploy/kubernetes/#removing-a-dgraph-pod", 
          "/deploy/#kubernetes-and-bulk-loader": "/deploy/kubernetes/#kubernetes-and-bulk-loader"
      };

      var redirectPaths = ["clients", "query-language", "mutations", "deploy", "enterprise-features", "howto", "design-concepts"];
      var pathSplit = document.URL.split("/");
      {{/*  console.log(pathSplit);  */}}
      if (redirectPaths.includes(pathSplit[3])) {
        var urlSplit = pathSplit[pathSplit.length - 1].split("#");
        {{/*  console.log(pathSplit[3] + "/#" + urlSplit[1]);  */}}
        var origPath = "/" + pathSplit[3] + "/#" + urlSplit[1];
        if (origPath in subPaths){
          console.log(subPaths[origPath]);
          location.href = subPaths[origPath];
        }
        else if(urlSplit[1]) {
          location.href = "/" + pathSplit[3] + "/" + urlSplit[1];
        } 
      }
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {{ .Hugo.Generator }}
    {{ partial "meta.html" . }}
    <link rel="canonical" href="{{ .RelPermalink }}" />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#fe2c06">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/languages/go.min.js"></script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/languages/java.min.js" integrity="sha256-RyOs5MjQ+Ef9DQrPHp4QGr2tcNjxLh6mCkkW+sS4doU=" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- START: Required by runnable -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.js" integrity="sha256-x3BtPVERvw1ozPlwivuFLZoViFCeAAs1Gt6SxEedmo8=" crossorigin="anonymous"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.css" rel="stylesheet" integrity="sha256-7sZe9dsqyNZC9Mk+WPRB7nVvPPPXyorzm2QKqlgXC4k=" crossorigin="anonymous" />
    <script async src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/addon/edit/closebrackets.min.js" integrity="sha256-qhu2a7DSpQaammMaLw1iruxBpxmgdw8mdQaQWQUokcY=" crossorigin="anonymous"></script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/javascript/javascript.min.js" integrity="sha256-7Bdg/UdDMmHDPafpQDYZNPCEbnRP7eAvu+2hEoqRCXs=" crossorigin="anonymous"></script>
    <!-- END: Required by runnable -->

    <script>
      {{ $currentBranch := getenv "CURRENT_BRANCH" }}
      {{ $dgraphEndpoint := getenv "DGRAPH_ENDPOINT" }}

      {{/* Set dgraph endpoint depending on the DGRAPH_ENDPOINT environment variable in the script local.sh to ensure that runnables work fine */}}
      window.DGRAPH_ENDPOINT = {{ if (eq $dgraphEndpoint "" ) }}"https://play.dgraph.io/query?latency=true"{{ else }}{{ $dgraphEndpoint }}{{ end }}
    </script>

    <title>
      {{.Section | default "Dgraph Documentation" | humanize}} — {{ .Site.Title }}
    </title>

    <link
      href='{{ .Site.BaseURL }}/css/theme.css?{{ md5 (readFile "themes/hugo-docs/static/css/theme.css") }}'
      rel="stylesheet"
      />
    <link
      href='{{ .Site.BaseURL }}/css/runnable.css?{{ md5 (readFile "themes/hugo-docs/static/css/runnable.css") }}'
      rel="stylesheet"
      />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- DocSearch -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  </head>
  <body>
    {{ partial "topbar.html" . }}
    {{ partial "sidebar.html" . }}

    <main class="content-wrapper">
      <div class="content">
