<aside id="sidebar">
  <div class="menu-header">
    {{ if eq .Site.Params.site "dgraph-docs" }}
    <div class="heading">
      Dgraph version:
    </div>
    {{ $VersionString := getenv "VERSIONS" }}
    {{ $Versions := split $VersionString "," }}
    <select class="version-selector">
      {{ range $i, $version := $Versions }}
        {{ if eq $i 0 }}
          <option value="">{{ $version }} Zion (latest)</option>
        {{ else }}
          {{ $shortVer := split $version "." }}
          {{ if ge (len $shortVer) 3 }}
            <option value="{{$version}}">{{ index $shortVer 0 }}.{{ index $shortVer 1 }}.x</option>
          {{ else }}
            {{ if eq $i 1 }}
              <option value="{{$version}}">{{ $version }} Rocket</option>
            {{ else }}
              {{ if eq $i 2 }}
                <option value="{{$version}}">{{ $version }} T'Challa</option>
              {{ else }}
                <option value="{{$version}}">{{ $version }} </option>
              {{ end }}    
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </select>
    {{ end }}
  </div>

  <ul class="topics">
    {{ $currentPage := . }}
    {{ if eq .Site.Params.site "cloud-docs" }}
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="topic children {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
            <ul class="sub-topics">
              {{ range .Children }}
                <li class="topic sub-topic{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                  <a href="{{ .URL }}">{{ .Name }}</a>
                  {{ if .HasChildren }}
                    <div class="arrow-down"></div>
                    <ul class="sub-topics">
                      {{ range .Children }}
                        <li class="topic sub-topic{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                          <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                      {{ end }}
                    </ul>
                  {{ end }}
                </li>
              {{ end }}
            </ul>
          </li>
        {{ else }}
          <li class="topic main-topic{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
            <a href="{{ .URL }}">
              {{ .Pre }}
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    {{ else }}
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="topic main-topic children {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
            <a id="{{ .Name | urlize }}" href="#">
              {{ .Pre }}
              {{ .Name }}
            </a>
            <div class="arrow-down"></div>
            <ul class="sub-topics">
              {{ range .Children }}
                <li class="topic sub-topic{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                  {{ if .HasChildren }}
                    <a href="#">{{ .Name }}</a>
                    <div class="arrow-down"></div>
                    <ul class="sub-topics">
                      {{ range .Children }}
                        <li class="topic sub-topic{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                          <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                      {{ end }}
                    </ul>
                  {{ else }}
                  <a href="{{ .URL }}">{{ .Name }}</a>
                  {{ end }}
                </li>
              {{ end }}
            </ul>
          </li>
        {{ else }}
          <li class="topic main-topic{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
            <a href="{{ .URL }}">
              {{ .Pre }}
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>

  <ul class="sidebar-menu">
    <li>
      <a href="https://dgraph.io/" target="_blank">Home</a>
    </li>
    <li>
      <a href="https://discuss.dgraph.io/" target="_blank">Community</a>
    </li>

    <li>
      <a href="https://github.com/dgraph-io/dgraph" target="_blank">GitHub</a>
    </li>
  </ul>
</aside>
